body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}


#admin_panel_login {
  text-align: center;
}

#login_form_wrapper {
  display: inline-block;
  margin-top: 10%;
  font-size: 18px;
}

.actions input {
  width: 140px;
  height: 30px;
  font-size: 16px;
}

.text input {
  width: 200px;
  height: 20px;
  padding: 5px;
  font-size: 16px;
}

.grey_text {
  color: grey;
}

#admin_panel_wrapper a {
  color: #696969;
  text-decoration: underline;
}

#admin_panel_wrapper a:hover {
  color: #696969;
  text-decoration: underline;;
  background-color: white;
}

#admin_panel_wrapper a:visited {
  color: #696969;
  text-decoration: underline;
 }

#admin_panel_wrapper a:active {
  color: #696969;
  text-decoration: none;
  background-color: white;
}

#logout_panel {
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 25px;
}

#admins_list {
  display: inline-block;
  position: absolute;
  top: 55px;
  left: 25px;
}

.inline input {
  display: inline-block;
}

.inline label {
  display: inline-block;
}

#notice_block {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
}

.list_container {
  display: inline-block;
  width: 180px;
  height: 50px;
  background-color: #F8F8FF;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  margin: 5px 0px 0px 0px;
  position: relative;
}

.list_name {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal; /* для IE */
  text-overflow: ellipsis;
  top: 3px;
  left: 10px;
  color: black;
  width: 110px;
}

.list_name:hover {
  overflow: visible;
  white-space: normal;
  background-color: white;
  width: 220px;
  padding: 5px;
  z-index: 2;
  border: 1px solid black;
}

.list_active {
  position: absolute;
  top: 3px;
  right: 22px;
  color: green;
}

.list_inactive {
  position: absolute;
  top: 3px;
  right: 19px;
  color: red;
}

.list_controls {
  position: absolute;
  top: 26px;
  left: 10px;
  display: inline-block;
  border-top: 1px solid #DCDCDC;
  padding-top: 4px;
  width: 160px;
}

.edit_button {
  position: absolute;
  left: 0px;
  top: 3px;
  color: grey;
  -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  white-space: pre;
  cursor: pointer;
}

.enable_button {
  position: absolute;
  right: 0px;
  top: 3px;
  color: grey;
  -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  white-space: pre;
  cursor: pointer;
}

.disable_button {
  position: absolute;
  right: 0px;
  top: 3px;
  color: grey;
  -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  white-space: pre;
  cursor: pointer;
}

#create_new_admin {
  color: grey;
  margin-left: 7px;
  -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  white-space: pre;
  cursor: pointer;
}

#dispatchers_list {
  display: inline-block;
  position: absolute;
  top: 55px;
  left: 250px;
}

#create_new_dispatcher {
  color: grey;
  margin-left: 7px;
  -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  white-space: pre;
  cursor: pointer;
}

#drivers_list {
  display: inline-block;
  position: absolute;
  top: 55px;
  left: 475px;
}

#create_new_driver {
  color: grey;
  margin-left: 7px;
  -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  white-space: pre;
  cursor: pointer;
}

#create_new_driver:hover {
  text-decoration: underline;
}

#create_new_dispatcher:hover {
  text-decoration: underline;
}

#create_new_admin:hover {
  text-decoration: underline;
}

.edit_button:hover {
  text-decoration: underline;
}

.enable_button:hover {
  text-decoration: underline;
}

.disable_button:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

#x_notice {
  display: none;
  position: fixed;
  top: 20px;
  left: 250px;
  font-size: 14px;
  background-color: #EEE9E9;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
}

.bg_shadow {
  background-color: black;
  opacity: 0.7;
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
}

#admin_form {
  position: fixed;
  background-color: white;
  width: 300px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  text-align: center;
}

.title {
  margin: 15px 0px 10px 0px;
  display: inline-block;
}

.form_button {
  margin: 20px 15px 5px 13px;
  padding: 3px 13px 3px 13px;
}

#edit_admin_form {
  position: fixed;
  background-color: white;
  width: 300px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  text-align: center;
}

#target_admin {
  color: #0000FF;
}

#dispatcher_form {
  position: fixed;
  background-color: white;
  width: 300px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  text-align: center;
}

#edit_dispatcher_form {
  position: fixed;
  background-color: white;
  width: 300px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  text-align: center;
}

#drivers_list .list_container {
  height: 75px;
  width: 255px;
}

#drivers_list .list_name {
  top: 28px;
  left: 85px;
}

#drivers_list .list_active {
  top: 28px;
  right: 10px;
}

#drivers_list .list_inactive {
  top: 28px;
  right: 10px;
}

#drivers_list .list_controls {
  top: 51px;
  left: 85px;
}

.driver_name {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal; /* для IE */
  text-overflow: ellipsis;
  top: 3px;
  left: 85px;
  color: #363636;
  width: 160px;
  height: 20px;
  border-bottom: 1px solid #DCDCDC;
}

.driver_name:hover {
  overflow: visible;
  white-space: normal;
  background-color: white;
  width: 300px;
  padding: 5px;
  z-index: 2;
  border: 1px solid black;
}

.details_button {
  position: absolute;
  left: 40px;
  top: 3px;
  color: grey;
  -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  white-space: pre;
  cursor: pointer;
}

.details_button:hover {
  text-decoration: underline;
}

#driver_form {
  position: fixed;
  background-color: white;
  width: 400px;
  height: 325px;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  text-align: center;
  padding-top: 20px;
}

#driver_form .title {
  display: inline-block;
  width: 100px;
}

#driver_form input {
  display: inline-block;
  width: 235px;
  padding-left: 10px;
}

#driver_details_form {
  position: fixed;
  background-color: white;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  text-align: center;
  padding-top: 20px;
  padding-left: 40px;
}

#driver_details_form .title {
  display: inline-block;
  width: 120px;
}

#driver_details_form .details_value {
  display: inline-block;
  width: 235px;
  margin-left: 10px;
}

#driver_details_form button {
  display: inline-block;
  width: 80px;
}

#edit_driver_form {
  position: fixed;
  background-color: white;
  width: 700px;
  height: 325px;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  padding-top: 20px;
}

#edit_driver_form .title {
  display: inline-block;
  width: 100px;
}

#edit_driver_form input {
  display: inline-block;
  width: 235px;
  padding-left: 10px;
}

#edit_driver_form button {
  display: inline-block;
  width: 80px;
}

#edit_driver_form .cancel_form {
  margin-left: 80px;
}

.driver_photo {
  position: absolute;
  top: 5px;
  left: 7px;
  width: 65px;
  height: 65px;
  border-radius: 10px;
}

#driver_photo_container {
  position: absolute;
  left: 25px;
  top: 25px;
  width: 250px;
  height: 250px;
  border-radius: 25px;
}

#driver_info_container {
  position: absolute;
  top: 20px;
  left: 300px;
}

#edit_driver_form #edit_driver_photo {
  position: absolute;
  left: 115px;
  top: 300px;
  color: grey;
  font-size: 16px;
  -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  white-space: pre;
  cursor: pointer;
}

#edit_driver_form #edit_driver_photo:hover {
  text-decoration: underline;
}

#photo_form_container {
  text-align: center;
}

#save_driver_photo {
  font-size: 16px;
  width: 100px;
  padding: 3px 10px 3px 10px;
}

#photo_preview {
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 25px;
  margin-bottom: 25px;
}

#driver_avatar_file {
  margin-bottom: 20px;
}

#dr_id {
  display: none;
}

#photo_form_container button {
  font-size: 16px;
  width: 100px;
  padding: 3px 10px 3px 10px;
  margin-right: 20px;
}

#delete_driver_photo {
  font-size: 16px;
  width: 100px;
  padding: 3px 10px 3px 10px;
  margin-right: 20px;
}

.green {
  color: green;
}

.red {
  color: red;
}

#right_menu_bar {
  position: absolute;
  top: 100px;
  left: 800px;
}

#menu_title {
  color: grey;
  font-size: 24px;
}

#right_menu_bar div {
  position: absolute;
  display: inline-block;
  width: 75px;
  height: 75px;
  background-color: #F8F8FF;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  text-align: center;
  line-height: 75px;
  color: #63B8FF;
  -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  white-space: pre;
  cursor: pointer;
}

#right_menu_bar div:hover {
  background-color: #AFEEEE;
}

#right_menu_bar div:active {
  background-color: #CDC9C9;
  border-color: #BEBEBE;
}

#log_button {
  top: 10px;
  font-size: 22px;
}

#ping_button {
  top: 95px;
  font-size: 22px;
}

.button_desc {
  position: absolute;
  top: -22px;
  left: -100px;
  display: none;
  z-index: 2;
  opacity: 0.99;
  height: 32px;
  width: 250px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  line-height: 32px;
  font-size: 16px;
}

#right_menu_bar div:hover .button_desc {
  display: inline-block;
}

.record_container {
  margin: 10px 40px 10px 40px;
  background-color: #F8F8FF;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
}

.record_column {
  line-height: 40px;
  text-align: left;
  display: inline-block;
  width: 100px;
}

.record_column_long {
  line-height: 40px;
  text-align: left;
  display: inline-block;
  width: 200px;
}

.title_column {
  line-height: 40px;
  text-align: center;
  display: inline-block;
  width: 100px;
}

.record_container input {
  width: 100%;
}

#filters_menu {
  height: auto;
}

#clear_filters {
  width: 100px;
  margin-left: 8px;
}

#submit_button {
  margin-left: 50px;
}

.online {
  background-color: #CFFFD1 !important;
}

.list_container .id_label {
  position: absolute;
  top: -5px;
  right: -11px;
  border: 1px solid #8B8989;
  border-radius: 20px;
  width: 25px;
  height: 25px;
  background: linear-gradient(to top, #F0FFF0, #B0E0E6);
  line-height: 25px;
  text-align: center;
  font-weight: bold;
}
