#admin_panel_login {
  text-align: center;
}

#login_form_wrapper {
  display: inline-block;
  margin-top: 10%;
  font-size: 18px;
}

.actions input {
  width: 140px;
  height: 30px;
  font-size: 16px;
}

.text input {
  width: 200px;
  height: 20px;
  padding: 5px;
  font-size: 16px;
}

.grey_text {
  color: grey;
}

#admin_panel_wrapper a {
  color: #696969;
  text-decoration: underline;
}

#admin_panel_wrapper a:hover {
  color: #696969;
  text-decoration: underline;;
  background-color: white;
}

#admin_panel_wrapper a:visited {
  color: #696969;
  text-decoration: underline;
 }

#admin_panel_wrapper a:active {
  color: #696969;
  text-decoration: none;
  background-color: white;
}

#logout_panel {
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 25px;
}

#admins_list {
  display: inline-block;
  position: absolute;
  top: 55px;
  left: 25px;
}

.inline input {
  display: inline-block;
}

.inline label {
  display: inline-block;
}

#notice_block {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
}

.list_container {
  display: inline-block;
  width: 180px;
  height: 50px;
  background-color: #F8F8FF;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  margin: 5px 0px 0px 0px;
  position: relative;
}

.list_name {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal; /* для IE */
  text-overflow: ellipsis;
  top: 3px;
  left: 10px;
  color: black;
  width: 110px;
}

.list_name:hover {
  overflow: visible;
  white-space: normal;
  background-color: white;
  width: 220px;
  padding: 5px;
  z-index: 2;
  border: 1px solid black;
}

.list_active {
  position: absolute;
  top: 3px;
  right: 10px;
  color: green;
}

.list_inactive {
  position: absolute;
  top: 3px;
  right: 7px;
  color: red;
}

.list_controls {
  position: absolute;
  top: 26px;
  left: 10px;
  display: inline-block;
  border-top: 1px solid #DCDCDC;
  padding-top: 4px;
  width: 160px;
}

.edit_button {
  position: absolute;
  left: 0px;
  top: 3px;
  color: grey;
  -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  white-space: pre;
  cursor: pointer;
}

.enable_button {
  position: absolute;
  right: 0px;
  top: 3px;
  color: grey;
  -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  white-space: pre;
  cursor: pointer;
}

.disable_button {
  position: absolute;
  right: 0px;
  top: 3px;
  color: grey;
  -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  white-space: pre;
  cursor: pointer;
}

#create_new_admin {
  color: grey;
  margin-left: 5px;
  -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  white-space: pre;
  cursor: pointer;
}

#dispatchers_list {
  display: inline-block;
  position: absolute;
  top: 55px;
  left: 250px;
}

#create_new_dispatcher {
  color: grey;
  margin-left: 5px;
  -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  white-space: pre;
  cursor: pointer;
}

#drivers_list {
  display: inline-block;
  position: absolute;
  top: 55px;
  left: 475px;
}

#create_new_driver {
  color: grey;
  margin-left: 5px;
  -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  white-space: pre;
  cursor: pointer;
}

#create_new_driver:hover {
  text-decoration: underline;
}

#create_new_dispatcher:hover {
  text-decoration: underline;
}

#create_new_admin:hover {
  text-decoration: underline;
}

.edit_button:hover {
  text-decoration: underline;
}

.enable_button:hover {
  text-decoration: underline;
}

.disable_button:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

#x_notice {
  display: none;
  position: fixed;
  top: 20px;
  left: 250px;
  font-size: 14px;
  background-color: #EEE9E9;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
}

.bg_shadow {
  background-color: black;
  opacity: 0.7;
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
}

#admin_form {
  position: fixed;
  background-color: white;
  width: 300px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  text-align: center;
}

.title {
  margin: 15px 0px 10px 0px;
  display: inline-block;
}

.form_button {
  margin: 20px 15px 5px 13px;
  padding: 3px 13px 3px 13px;
}

#edit_admin_form {
  position: fixed;
  background-color: white;
  width: 300px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  text-align: center;
}

#target_admin {
  color: #0000FF;
}

#dispatcher_form {
  position: fixed;
  background-color: white;
  width: 300px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  text-align: center;
}

#edit_dispatcher_form {
  position: fixed;
  background-color: white;
  width: 300px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  text-align: center;
}

#drivers_list .list_container {
  height: 75px;
}

#drivers_list .list_name {
  top: 28px;
}

#drivers_list .list_active {
  top: 28px;
}

#drivers_list .list_inactive {
  top: 28px;
}

#drivers_list .list_controls {
  top: 51px;
}

.driver_name {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal; /* для IE */
  text-overflow: ellipsis;
  top: 3px;
  left: 10px;
  color: #363636;
  width: 160px;
  height: 20px;
  border-bottom: 1px solid #DCDCDC;
}

.driver_name:hover {
  overflow: visible;
  white-space: normal;
  background-color: white;
  width: 300px;
  padding: 5px;
  z-index: 2;
  border: 1px solid black;
}

.details_button {
  position: absolute;
  left: 40px;
  top: 3px;
  color: grey;
  -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  white-space: pre;
  cursor: pointer;
}

.details_button:hover {
  text-decoration: underline;
}

#driver_form {
  position: fixed;
  background-color: white;
  width: 400px;
  height: 325px;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  text-align: center;
  padding-top: 20px;
}

#driver_form .title {
  display: inline-block;
  width: 100px;
}

#driver_form input {
  display: inline-block;
  width: 235px;
  padding-left: 10px;
}

#driver_details_form {
  position: fixed;
  background-color: white;
  width: 400px;
  height: 325px;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  text-align: center;
  padding-top: 20px;
}

#driver_details_form .title {
  display: inline-block;
  width: 100px;
}

#driver_details_form .details_value {
  display: inline-block;
  width: 235px;
  margin-left: 10px;
}

#driver_details_form button {
  display: inline-block;
  width: 80px;
}

#edit_driver_form {
  position: fixed;
  background-color: white;
  width: 400px;
  height: 325px;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  text-align: center;
  padding-top: 20px;
}

#edit_driver_form .title {
  display: inline-block;
  width: 100px;
}

#edit_driver_form input {
  display: inline-block;
  width: 235px;
  padding-left: 10px;
}

#edit_driver_form button {
  display: inline-block;
  width: 80px;
}
