<script type="text/ng-template" id="confirm">
  <p ng-model="ngDialogData">Вы уверены, что хотите отметить этот заказ?</p>
  <button class="btn btn-success col-sm-offset-4" ng-click="cancelOrder() && closeThisDialog()">Да</button>
  <button class="btn btn-default" ng-click="closeThisDialog()">Отмена</button>
</script>
<div class="col-sm-12"><button class="btn btn-lg btn-primary order-btn" ng-click="create()">Новый заказ</button></div>
<div class="col-sm-6">
  <ul class="list-group">
    <div ng-repeat="order in orders">
      <li class="list-group-item">
        <h3>Заявка №{{order.id}}, {{order.created_at|date:'dd.MM.yyyy HH:mm:ss'}}</h3>
        <p>Номер телефона: {{order.phone}}</p>
        <div class="comment-wrap"><p>Откуда: {{order.start_point}}</p></div>
        <div class="comment-wrap"><p>Куда: {{order.end_point}}</p></div>
        <p>Количество пассажиров: {{order.passengers}}</p>
        <p>Багаж: <span ng-if="order.baggage">есть</span><span ng-if="!order.baggage">нет</span></p>
        <div class="comment-wrap"><p>Комментарий: {{order.comment}}</p></div>
        <div ng-if="order.decline_order"><p>Комментарий водителя: {{order.decline_order}}</p></div>
        <p><button class="btn btn-success" ng-click="update(order)">Редактировать</button>
           <button class="btn btn-danger" ng-click="confirmCancel(order)">Отменить заказ</button>
        </p>
      </li>
    </div>
  </ul>
</div>

<div class="col-sm-6">
  <ul class="list-group">
    <div ng-repeat="driver in drivers">
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-4 avatar">
            <img ng-if="driver.avatar" ng-src={{driver.avatar}}>
            <img ng-if="!driver.avatar" ng-src='avatars/original/missing.png'>
          </div>
          <div class="col-sm-8 driver-info">
            <h3>{{driver.name}}</h3>
            <p>Номер телефона: {{driver.phone}}</p>
            <p>Машина: {{driver.car_type}}</p>
            <p>Количество пассажиров: {{driver.passengers}}</p>
            <p>Вместимость багажника: {{driver.trunk}}</p>
          </div>
        </div>
      </li>
    </div>
  </ul>
</div>

<div class="hideme">
  <audio controls id="notification">
    <source src="notification.mp3" type="audio/mpeg">
  </audio>
</div>
