<div class="col-sm-6">
	<ul class="list-group">
		<div ng-repeat="order in orders">
			<li class="list-group-item">
				<h3>Заявка №{{order.id}}, {{order.created_at}}</h3>
				<p>Номер телефона: {{order.phone}}</p>
				<p>Откуда: {{order.start_point}}</p>
				<p>Куда: {{order.end_point}}</p>
				<p>Количество пассажиров: {{order.passengers}}</p>
				<p>Багаж: <span ng-if="order.baggage">есть</span><span ng-if="!order.baggage">нет</span></p>
				<p>Комментарий: {{order.comment}}</p>
				<p><a href="/edit-order/{{order.id}}" class="btn btn-default">Редактировать</a></p>
			</li>
		</div>
	</ul>
</div>