<script type="text/ng-template" id="decline.html">
  <button type="button" class="btn btn-danger" ng-click="decline = !decline">Отклонить</button>
  <div ng-if="decline">
    <form novalidate class="decline_order" name="order_comment">
      <div class="form-group">
        <textarea rows='2' name="decline" placeholder="Введите комментарий" ng-model="order.decline_order" required>></textarea><br />
        <button type="button" class="btn btn-success" ng-disabled="order_comment.$invalid" ng-click="declineOrder(order)">Отправить</button>
      </div>
    </form>
  </div>
</script>

<div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 order">
  <div ng-repeat="order in orders">
    <h3>{{order.start_point}} - {{order.end_point}}</h3>
    <p>Номер телефона: {{order.phone}}</p>
    <p>{{order.comment}}</p>
    <div ng-if="order.status == 'waiting'">
      <button type="button" class="btn btn-primary" ng-click="acceptOrder(order)">Принять</button>
      <span ng-include="'decline.html'"></span>
    </div>
    <div ng-if="order.status == 'accepted'">
      <button type="button" class="btn btn-success" ng-click="arrivedToOrder(order)">Приехал</button>
      <span ng-include="'decline.html'"></span>
    </div>
    <div ng-if="order.status == 'arrived'">
      <button type="button" class="btn btn-success" ng-click="orderFulfilled(order)">Заказ выполнил</button>
    </div>
  </div>
</div>

<div class="hideme">
  <audio controls id="notification">
    <source src="notification.mp3" type="audio/mpeg">
  </audio>
</div>
