<form novalidate class="form-horizontal order-form" name="orderForm">
  <div class="form-group">
    <label for="phone" class="col-sm-4 control-label">Номер телефона<span class="required">*</span></label>
    <div class="col-sm-8">
      <input type="text" maxlength="10" ng-pattern="phone_pattern" ng-model="ngDialogData.phone" name="phone" class="form-control" id="phone" placeholder="0987654321" ng-disabled="disabled" required>
      <span ng-show="orderForm.phone.$error.required && orderForm.phone.$touched" class="text-danger">Это поле обязательно для заполнения!</span>
      <span ng-show="orderForm.phone.$error.pattern" class="text-danger">Введите номер в формате 0987654321</span>
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-4 control-label">Email</label>
    <div class="col-sm-8">
      <input type="text" ng-pattern="email_pattern" ng-model="ngDialogData.email" name="email" class="form-control" id="email" placeholder="example@email.com" ng-disabled="disabled">
      <span ng-show="orderForm.email.$error.pattern" class="text-danger">Введите e-mail в формате example@com</span>
    </div>
  </div>
  <div class="form-group">
    <label for="start_point" class="col-sm-4 control-label">Откуда<span class="required">*</span></label>
    <div class="col-sm-8">
      <input type="text" ng-model="ngDialogData.start_point" name="start_point" class="form-control" id="start_point" placeholder="Введите адрес" ng-disabled="disabled" required>
      <span ng-show="orderForm.start_point.$error.required && orderForm.start_point.$touched" class="text-danger">Это поле обязательно для заполнения!</span>
    </div>
  </div>
  <div class="form-group">
    <label for="end_point" class="col-sm-4 control-label">Куда<span class="required">*</span></label>
    <div class="col-sm-8">
      <input type="text" ng-model="ngDialogData.end_point" name="end_point" class="form-control" id="end_point" placeholder="Введите адрес" ng-disabled="disabled" required>
      <span ng-show="orderForm.end_point.$error.required && orderForm.end_point.$touched" class="text-danger">Это поле обязательно для заполнения!</span>
    </div>
  </div>
  <div class="form-group">
    <label for="passengers" class="col-sm-4 control-label">Пассажиры<span class="required">*</span></label>
    <div class="col-sm-3 passengers">
      <select class="form-control" id="passengers" ng-model="options.selectedOption" ng-options="option.value for option in options.availableOptions track by option.value" ng-disabled="disabled"></select>
    </div>
    <div class="checkbox col-sm-5">
      <label for="baggage">
        <input id="baggage" type="checkbox" ng-model="ngDialogData.baggage" value="true" ng-disabled="disabled">Наличие багажа
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="comment" class="col-sm-4 control-label">Комментарий</label>
    <div class="col-sm-8"><textarea class="form-control" rows="2" id="comment" ng-model="ngDialogData.comment" ng-disabled="disabled"></textarea></div>
  </div>
  <div ng-if="isDispatcher">
    <div class="form-group">
      <label for="passengers" class="col-sm-4 control-label">Водитель<span class="required">*</span></label>
      <div class="col-sm-8">
        <select class="form-control" id="passengers" ng-model="ngDialogData.driver_id" ng-options="option.name for option in drivers track by option.id"></select>
      </div>
    </div>
  </div>
  <div ng-if="!ngDialogData.isUpdating&&!disabled">
  <div class="form-group">
    <div class="col-sm-2 col-sm-offset-5 col-xs-3 col-xs-offset-3">
      <button type="submit" ng-disabled="orderForm.$invalid" class="btn btn-lg btn-success" ng-click="addOrder() && closeThisDialog()">Отправить</button>
    </div>
  </div>
  </div>
  <div ng-if="disabled" class="col-sm-2 col-sm-offset-5 col-xs-3 col-xs-offset-3">
    <button class="btn btn-lg btn-success" ng-click="moreOrders()">Ещё один заказ</button>
  </div>
  <div ng-if="ngDialogData.isUpdating">
    <div class="form-group">
      <div class="col-sm-2 col-sm-offset-5 col-xs-3 col-xs-offset-3">
        <button type="submit" ng-disabled="orderForm.$invalid" class="btn btn-lg btn-success" ng-click="updateOrder() && closeThisDialog()">Сохранить</button>
      </div>
    </div>
  </div>
</form>

