<p id="notice"><%= notice %></p>

<p>
  <strong>Action:</strong>
  <%= @orders_blog.action %>
</p>

<%= link_to 'Edit', edit_orders_blog_path(@orders_blog) %> |
<%= link_to 'Back', orders_blogs_path %>
