# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: cbb1b5b86d39d9b729c766da0ecc39d17057157f6f9aa82d93a540a864918d5bf0c921d496ab69593b1abf74d27c7399b3369c467f5b336dfc62f8650670d4b6

test:
  secret_key_base: cbb1b5b86d39d9b729c766da0ecc39d17057157f6f9aa82d93a540a864918d5bf0c921d496ab69593b1abf74d27c7399b3369c467f5b336dfc62f8650670d4b6
