<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @order.phone %></h1>
    <p>
      Your order <%= @order.id %> has been executed, hope you enjoyed it!
      Have a nice day!:)
    </p>
  </body>
</html>
